<div class="td">
<img class="qr" src="./assets/qr.png">
<h1>EL TOUR DEL SILENCIO</h1>
<br>
<p>NOMBRE</p>
<p class="d">{{nombre}}</p>
<p>APELLIDO</p>
<p class="d">{{apellido}}</p>
<p>CORREO</p>
<p class="d">{{correo}}</p>
<p>NUMERO</p>
<p class="d">{{numero}}</p>

<br>
<h1>BANDA</h1>
<p>Heroes del Silencio</p>
<br>
<h1>LUGAR DE CONCIERTO</h1>
<p>Coliseo Jefferson Perez</p>
<br>
<h1>LOCALIDAD</h1>
<p>Palco</p>
<br>
<h1>ASIENTO</h1>
<p>G79</p>
<br>
<button class="botonenviar" (click)="navegacion2()" >REGRESAR</button>
</div>
