
<h1 class="tn">FORMULARIO</h1>
<hr>
<div class="f">
    <p>Ingrese sus nombres</p>
    <input type="text" [(ngModel)]="nombre">
    <p>Ingrese sus apellidos</p>
    <input type="text" [(ngModel)]="apellido">
    <p>Ingrese su correo</p>
    <input type="email" [(ngModel)]="correo">
    <p>Ingrese su contraseña</p>
    <input type="password" [(ngModel)]="contra">
    <br>
    <p>Ingrese su numero de celular:</p>
    <input type="text" [(ngModel)]="num">
    <br><br>
    <button class="botonenviar" (click)="navegacion()" >ENVIAR</button>
    
</div>