<p>Holacarepapa</p>
<input [(ngModel)]="numero">
<br>
<strong *ngIf="numero>3"> {{numero}} El numero es mayor que 3</strong>
<strong *ngIf="numero == 3 && numero!=' '"> {{numero}} El numero es menor que 3</strong>
<p></p>
<tr *ngFor="let sueldo of sueldos">
    <td> {{sueldo}}</td>
</tr>
<ul *ngFor="let sueldo of sueldos">
    <li>{{sueldo}}</li>
</ul> 
<div *ngFor="let sueldo of sueldos">
    <div>
        Sueldo:{{sueldo}}
    </div>
</div>
<hr>
<h1 class="tn">FORMULARIO</h1>
<hr>
<form class="form">
    <p>Ingrese sus nombres</p>
    <input type="text" id="nombre">
    <p>Ingrese sus apellidos</p>
    <input type="text" id="apellido">
    <p>Ingrese su fecha de nacimiento</p>
    <input type="date" id="nacimiento">
    <p>Ingrese su correo</p>
    <input type="email" id="correo">
    <p>Ingrese su contraseña</p>
    <input type="password" id="contraseña">
    <br><br>
    <button class="botonenviar" (click)="navegacion()" >ENVIAR</button>
    
</form>